.card0{
  background: honeydew;
}

.card1{
  background: floralwhite;
}

.card2{
  background: lavenderblush;
}

.card3{
  background: blanchedalmond;
}

.Header__content{
  color: white
}

.Card__in{
  display: flex;
}

.Header{
  height: 144px;
  margin: auto;
  display: flex;
}

.Header__in{
  margin: auto
}

.FormField__border{
  margin: auto;
}


.cardDone{
  background: chartreuse;
}
.cardProcess{
  background: orange;
}

.cardDismiss{
  background: crimson;
}


.Stats{
  margin:auto
}