@import url(https://fonts.googleapis.com/css?family=Khula:700);

.card0{
  background: honeydew;
}

.card1{
  background: floralwhite;
}

.card2{
  background: lavenderblush;
}

.card3{
  background: blanchedalmond;
}

.Header__content{
  color: white
}

.Card__in{
  display: flex;
}

.Header{
  height: 144px;
  margin: auto;
  display: flex;
}

.Header__in{
  margin: auto
}

.FormField__border{
  margin: auto;
}

.cardStats{
  background: orange;
}


.cardDone{
  background: chartreuse;
}
.cardProcess{
  background: orange;
}

.cardDismiss{
  background: crimson;
}


.Stats{
  margin:auto
}


/*.Console {
  background: #111;
}*/



.hidden {
  opacity:0;
}
.console-container {

  font-family:Khula;
  font-size:4em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  /*color:white;*/
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
  display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}



